<!-- <p>
  {{testData}}

  <br>
  {{testDataTwoWays}}
  <br>
  <input id="testDataTwoWays" [(ngModel)]="testDataTwoWays"> -->
<!-- <p>
  {{data}}
</p>
<p>
  {{data2}}
</p> -->
<!-- <p>
    {{data3}}
</p>
<p>
    {{data4}}
</p>
<p>
    {{data5}}
</p> -->
  <!-- <button (click)="testAlert()">Alert</button>
</p> -->
<!-- <p>
 
</p>
<p>
  
</p> -->
<br>
<table border="1" align="center">
    <tr>
        <td>First Name</td>
        <td>Last Name </td>
      </tr>
  <tr>
    <td>{{PData}}</td>
    <td>{{PData2}}</td>
  </tr>
  <tr>  
    <td>
      <!-- method hide yang ada di child yang akan di eksekusi di parent -->
      <button (click)="hide()">Send Back</button>
    </td>
  </tr>
</table>


<!-- <input type="text" [(ngModel)]="child"/> -->


